

body{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

section{
    margin: 0;
    padding: 0;
}

.col-lg-3{
    margin: 0;
    padding: 0;
}

.container-fluid{
    margin: 0;
    padding: 0;
}

/* nav-bar */

li a{
    color: #f0efef ;

}
a:hover{
    color: #bbcfff
}

#navbar-TopMenu{
    background-color: #272343 ;
    color: #f0efef ;
}


/* BANNER */

.slide-col{
    margin: 0;
    padding: 0;
}


/* TV SHOW */

#tvShow{
    background-color: #ffffff;
    margin: 20px 0 0 0;
    padding: 0;
}


.tvshow-col{
    margin: 0;
    padding: 0;
}

.miniImgTVshow{
    text-align: center;
    border-radius: 10px;
}

.tvShowText{
    font-size: 2.5rem;
    text-align: center;
}

/* what´s next */

#whatsNextSection{
    margin: 0;
    background-color: #272343;
    color: #f0efef ;
}

.wNext{
    text-align: center;
}

.wNext-Img{
    border-radius: 10px;
    margin-bottom: 20px;
}

.avatar-user{
    border-radius: 30px;
    width: 30%;
    height: 30%;
}

/* MOVIE SHOW */

#MovieShow{
    background-color: #ffffff;
    margin-bottom: 20px;
    padding: 0;
}



/* FOOTER */

#footer{
    margin: 0;
    text-align: center;
    background-color: #272343;
    color: #f0efef;
}

#footer p{
    margin: 0;

}

.textFooter{
    padding: 20px;
}


/* CSS MODAL DISPLAY */

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }
  
  /* Modal Content/Box */
  .modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
  }
  
  /* The Close Button */
  .close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }

  .modal-color{
      background-color: black;
      color: white;
  }

  .producer{
      text-align: center;
      font-weight: bold;
  }

  .hr-modal{
      border: dashed 0.5px white;
  }

  #myBtn{
      background-color: #272343 ;
      text-align: center;
      font-size: 20px;
      border-radius: 5px;

  }